<a href="https://colab.research.google.com/github/jrangelg/Artificial-intelligence-course-2023-1/blob/Tareas/Tarea2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TAREA 2

## Primer punto

In [23]:
from datetime import date

def calculate_age(birth_date):
    today = date.today()
    age = today.year - birth_date.year - ((today.month, today.day) < (birth_date.month, birth_date.day))
    return age

birth_date_str = input("Ingrese su fecha de nacimiento (dd/mm/yyyy): ")
birth_date = datetime.strptime(birth_date_str, "%d/%m/%Y").date()
age = calculate_age(birth_date)
print("Su edad es:", age)

Ingrese su fecha de nacimiento (dd/mm/yyyy): 12/10/2000
Su edad es: 22

## SEGUNDO PUNTO

In [24]:
def escribir_centrado(texto):
    ancho_terminal = 80
    texto_centrado = texto.center(ancho_terminal)
    print(texto_centrado)

texto = input("Ingrese un texto: ")
escribir_centrado(texto)

Ingrese un texto: GRGGDGHDGDGF
                                  GRGGDGHDGDGF

## TERCER PUNTO

In [25]:
def markdown(func):
    def wrapper(texto):
        texto_marcado = f"**_ {texto} _**"
        return func(texto_marcado)
    return wrapper

@markdown
def escribir(texto):
    print(texto)

texto = input("Ingrese un texto: ")
escribir(texto)

Ingrese un texto: SFDHHFDHDHFDHGHF
**_ SFDHHFDHDHFDHGHF _**

# CUARTO PUNTO

In [30]:
def mult( x,y ):
  if( x%y==0 ):
    return(print(str(x)+" es multiplo de " +str(y)))
  else:
    return(print(str(x)+" no es multiplo de " +str(y)))

In [31]:
mult(5,5)

5 es multiplo de 5

In [32]:
mult(5,6)

5 no es multiplo de 6

# QUINTO PUNTO

In [33]:
def media(x):
  y=0
  for i in range(24):
    y=y+x[i]
  return(y/24)

In [49]:
x=list(range(24))
for i in range(24):
  x[i] = int(input("Deme la " + f"{i+1} ésima"+" temperatura"))

Deme la 1 ésima temperatura1
Deme la 2 ésima temperatura1
Deme la 3 ésima temperatura1
Deme la 4 ésima temperatura1
Deme la 5 ésima temperatura1
Deme la 6 ésima temperatura1
Deme la 7 ésima temperatura1
Deme la 8 ésima temperatura1
Deme la 9 ésima temperatura1
Deme la 10 ésima temperatura1
Deme la 11 ésima temperatura1
Deme la 12 ésima temperatura1
Deme la 13 ésima temperatura1
Deme la 14 ésima temperatura1
Deme la 15 ésima temperatura1
Deme la 16 ésima temperatura1
Deme la 17 ésima temperatura1
Deme la 18 ésima temperatura1
Deme la 19 ésima temperatura1
Deme la 20 ésima temperatura1
Deme la 21 ésima temperatura1
Deme la 22 ésima temperatura1
Deme la 23 ésima temperatura1
Deme la 24 ésima temperatura1

In [50]:
x

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [53]:
print("la temperatura media es: " + str(sum(x)/24))

la temperatura media es: 1.0

# SEXTO PUNTO

In [58]:
def esp(x):
  y=""
  for i in range(len(x)):
    y= y +f"{x[i]} "
  return(y)

In [59]:
print(esp("eeee"))

e e e e

# SEPTIMO Y OCTAVO

In [61]:
import math as mt

In [62]:
mt.pi

3.141592653589793

In [63]:
x=(1,2,3)

In [64]:
type(x)

tuple